/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-container{
  height: 700px;
  margin-top: 5%;
  margin-left: 1%;
  margin-right: 1%;
}

.brand-container{
  text-align: center;
  margin-top: 20px;
}